<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Download</title>
    <style>
        a:link, a:visited {
          background-color: #0099ff;
          color: white;
          padding: 14px 25px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
        }

        a:hover, a:active {
          background-color: #007acc;
        }
    </style>
</head>
<body>
    <div align="center">
    <h2>Image Preview</h2>
    <img src={{image}} alt="download" height="500" width="500">
    <br>
    <h3><a href={{image}} download> Download Image </a></h3>
    </div>
</body>
</html>